{% extends "boot_base.html" %} {% load static %} {% block content %}

<!-- responsive width, centered content in column -->
<div
  class="container-fluid my-4 d-flex flex-column justify-content-center align-items-center"
>
  <!-- search container-->
  <div name="event-search" class="width-75">
    <!-- Header -->
    <h1 class="centered">Explore Events</h1>

    <!-- searchbar form for city -->
    <div class="w-100">
      <form method="POST" class="p-4">
        {% csrf_token %}
        <div
          name="searchbar_n_button"
          class="card-body d-flex justify-content-between"
        >
          <div class="w-100 me-4">
            <input
              name="city"
              type="text"
              id="city"
              class="form-control"
              autocomplete="off"
              placeholder="Enter City"
            />

            <ul
              id="autocomplete-results"
              class="list-group"
              style="position: absolute"
            ></ul>
          </div>

          <script>
            document.addEventListener("DOMContentLoaded", function () {
              let typingTimer;
              const debounceDelay = 300; // Delay to prevent too many requests
              const resultsList = document.getElementById(
                "autocomplete-results"
              );
              document
                .getElementById("city")
                .addEventListener("input", function () {
                  clearTimeout(typingTimer); // Clear previous timer
                  const query = this.value;

                  // Debounce: Only trigger the fetch if the user stops typing for a brief moment
                  typingTimer = setTimeout(() => {
                    if (query.length > 1) {
                      // Only search if more than 1 character
                      fetch(`/autocomplete/?city=${encodeURIComponent(query)}`)
                        .then((response) => response.json())
                        .then((data) => {
                          resultsList.innerHTML = ""; // Clear previous results

                          if (data) {
                            // Display each result as an option
                            data.forEach((result) => {
                              const li = document.createElement("li");
                              li.classList.add("list-group-item");
                              li.textContent = `${result.city}, ${result.state}`;
                              li.onclick = function () {
                                document.getElementById(
                                  "city"
                                ).value = `${result.city}, ${result.state}`;
                                resultsList.innerHTML = ""; // Clear the list after selection
                                // add a form submit after selection?
                              };
                              resultsList.appendChild(li);
                            });
                          }
                        })
                        .catch((error) => {
                          console.error(
                            "Error fetching autocomplete results:",
                            error
                          );
                        });
                    } else {
                      resultsList.innerHTML = ""; // Clear previous results
                    }
                  }, debounceDelay); // Delay fetch by debounce delay time
                });
            });
          </script>

          <!--{% csrf_token %} {{ form.city }}-->
          <!-- add .city to remove conflicting markup -->

          <!-- search button -->
          <button class="btn btn-primary" type="submit">Search</button>
        </div>

        <!-- dropdown -->
        <div class="d-flex justify-content-between mt-2">
          <!-- class -->
          <div class="flex-column">
            <h2>Type</h2>
            <select
              name="event_class"
              class="form-select mx-2"
              style="max-width: 100px"
            >
              <option value="">All</option>
              <option value="Sports">Sports</option>
              <option value="Music">Music</option>
              <option value="Arts &amp; Theatre">Arts &amp; Theatre</option>
              <option value="Film">Film</option>
              <option value="Undefined">Something Unique</option>
            </select>
          </div>
          <!-- Date -->
          <div class="flex-column">
            <h2>Date</h2>

            <button
              class="btn btn-primary mb-2"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#dateInputs"
            >
              Newest
            </button>

            <div id="dateInputs" class="collapse position-absolute">
              <div class="d-flex">
                <div class="me-2">
                  <label for="start_date">Start Date</label>
                  <input
                    type="date"
                    class="form-control"
                    id="start_date"
                    name="start_date"
                  />
                </div>
                <div>
                  <label for="end_date">End Date</label>
                  <input
                    type="date"
                    class="form-control"
                    id="end_date"
                    name="end_date"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- venue -->
          <div class="flex-column">
            <h2>Venue</h2>
            <div class="d-flex">
              <input
                type="text"
                class="form-control"
                id="venue_name_input"
                name="venue_name_input"
                maxlength="50"
                style="max-width: 120px"
              />
            </div>
          </div>
          <!-- end venue -->
        </div>
      </form>
    </div>
  </div>

  <br />

  <!---->
  <!-- results -->
  <!---->

  {% for class, event_lists in grouped_events.items %}
  <!-- define every event class + associated events from created tuple -->
  <!-- Events subject title pushed left -->
  <h1 class="me-auto">{{ class|title }}</h1>

  <!-- results container -->
  <div class="row flex-nowrap w-100" style="overflow-x: auto">
    {% for event in event_lists %}
    <div class="card mb-5" style="max-width: 400px">
      <!-- create event card -->
      <div class="card shadow">
        <!-- card image -->
        <img
          class="card-img-top fixed-ratio-img"
          src="{{ event.image_url }}"
          alt="{{ event.name }} image"
        />
        <!-- card info -->
        <div class="card-body">
          <!-- title -->
          <h3 class="card-title">{{ event.name }}</h3>
          <!-- card body -->
          <div class="card-body w-100">
            <p class="card-text">
              Date:
              <!-- display multiple dates and exclude ',' from last date -->
              {% for date in event.dates %} {{ date }}{% if not forloop.last %},
              {% endif %} {% endfor %}
            </p>
            <p>ID: {{ event.id }}</p>
            <p class="card-text">Type: {{ event.class }}</p>
            <p class="card-text">Genre: {{ event.genre }}</p>
            <p class="card-text">Family Friendly?: {{event.family_friendly}}</p>
            <p class="card-text">Venue: {{ event.venue }}</p>
            <p class="card-text">City: {{ event.venue_city }}</p>
            <a class="btn btn-primary" href="{{ event.info }}" target="_blank"
              >More Info / Buy Tickets</a
            >
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  {% endfor %}
</div>

{% endblock content %}
